@import url("https://fonts.googleapis.com/css2?family=My+Soul&display=swap");

:root {
  --brown: #5b3435;
  --primary: #ffc921;
}
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f3ebd2 !important;
}

/*COR DO MENU*/
.navbar {
  background-color: var(--brown) !important;
  --bs-navbar-toggler-focus-width: 0 !important;
}

/*UNIÃO DAS DIVS IMAGEM DA PADARIA E MENU*/
.inicio_marrom {
  background-color: var(--brown);
}

/*COR DA LETRA DO  MENU*/
.nav-link {
  color: rgb(211, 211, 211) !important;
}

/*Muda a cor dos itens do menu para amarelo*/
.nav-link:hover {
  color: var(--primary) !important;
}

.nav-link.active {
  color: var(--primary) !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,201,33, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
  --bs-navbar-toggler-border-color: var(--primary) !important;
}

/*Menu para baixo do Login*/
.dropdown-menu {
  text-align: center;
}

/*Pesquisar ficar dourado - Botão*/
.btn-outline-success {
  --bs-btn-color: var(--primary) !important;
  --bs-btn-border-color: var(--primary) !important;
  --bs-btn-hover-color: var(--brown) !important;
  --bs-btn-hover-bg: var(--primary) !important;
  --bs-btn-hover-border-color: var(--primary) !important;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: var(--brown) !important;
  --bs-btn-active-bg: var(--primary) !important;
  --bs-btn-active-border-color: var(--primary) !important;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba (0, 0, 0, 0.125);
  --bs-btn-disabled-color: #eea516 !important;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #eea516 !important;
  --bs-gradient: none;
}

/*id do conjunto carrossel*/
#carouselExampleCaptions {
  padding-bottom: 0px;
}

/* primeira parte da tela principal*/
.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-content img {
  display: block;
  margin-top: 5px;
}

.column-right {
  flex: 1;
  text-align: center;
  justify-content: right;
  padding: 10px;
  color: var(--brown);
}

.column-right h1 {
  padding: 10% 15% 0; /*superior, direita, inferior, esquerda*/
}

.column-right h4 {
  padding: 5% 10%;
}

/* Segunda parte da tela principal*/

.main-content2 {
  padding-top: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding-bottom: 60px;
}

.main-content2 img {
  display: block;
  margin-top: 5px;
}

.column-right2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--brown);
  padding-right: 2%;
}

.column-left2 {
  padding-left: 2%;
}

.column-right2 h3 {
  font-style: oblique;
}
.column-right2 h6 {
  text-align: left;
  font-weight: bold;
}

/*Configurando o Form contato*/
.contatoForm {
  position: relative;
  max-width: 600px;
  min-width: 300px;
}

.contatoForm h1 {
  font-size: 50px;
  color: var(--brown);
}

/*PARTE DO FOOTER DA PAGINA PRINCIPAL*/
footer {
  text-align: center;
  color: #b0b888;
  padding-top: 40px;
  background-color: var(--brown);
}

.nav-link-footer {
  color: #b0b888;
}

.nav-link-footer:hover {
  color: #eea516;
}

.divsFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*é o footer da esquerda agora, tem o nav bar*/
.footerMeio {
  align-self: center;
  font-size: 20px;
}

.footerDireita {
  align-self: center;
}

.smart {
  padding-bottom: 10px;
}

.apps {
  padding-top: 8px;
}

.desenvolvedores {
  padding-bottom: 20px;
  font-size: 20px;
}

/*FOOTER ATÉ AQUI*/

/* primeira parte da tela da página aPadaria*/

#botaoEnviar2 {
  background-color: var(--brown);
  color: var(--primary);
  padding: 10px 50px 10px 50px;
}

.column-cima {
  flex: 1;
  text-align: center;
  padding: 10% 25% 10% 25%; /*superior, direita, inferior, esquerda*/
  color: var(--brown);
  align-items: center;
}

.column-cima h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 65px;
}

#textoPadaria {
  padding-top: 60px;
}

.column-final {
  padding: 5% 30% 10% 30%;
  text-align: center;
}

/*PAGINA CATÁLOGO*/

#h3Catalogo {
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 40px;
}

#carrinho-de-compras {
  width: 4%;
}

#textoCatalogo {
  text-align: center;
  padding-bottom: 0px;
}

#imagemEtextoCatalogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#AdicionarCatalogo {
  background-color: var(--primary);
  color: var(--brown);
  padding: 0 15 0 15;
}

.table-responsive img {
  width: 450px;
}

#contatoFormCatalogo {
  padding-top: 10px;
}
